<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="fileUrl" value="http://speedtest.ftp.otenet.gr/files/test1Mb.db" />
    <add key="downloadLocation" value="C:\Workspace\FileDownloader" />
  </appSettings>
</configuration>